.buttonExplorar {
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 width: 200px;
 height: 40px;
 background: #504908 !important;
 color: white;
 padding: 10px 20px;
 border-radius: 5px;
 font-size: 14px;
 font-weight: 700 !important;
 font-family: "Inter", sans-serif !important;
 margin-bottom: 50px;
 box-shadow: 2px 3px 3px rgb(7, 7, 7) !important;
}

.buttonExplorar:hover {
 background: white !important;
 color: #504908 !important;
 border: 1px solid #504908 !important;
}
