body {
 font-family: "Inter", sans-serif;
}

.containerCadastro {
 display: flex;
 justify-content: center;
 flex-direction: column;
 background-color: #d8e3d2;
 width: 100%;
 min-height: 100vh;
}

.titulo {
 display: flex;
 flex-direction: column;
 font-weight: 600;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 margin-bottom: 60px;
 font-size: 20px;
}

.formulario {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.divNomeTrilha {
 display: flex;
 margin-bottom: 20px;
}

.camposGrande {
 display: flex;
 width: 605px;
 margin-bottom: 20px;
}

.camposPequeno {
 display: flex;
 color: #504908;
 margin: 10px 0 8px 0;
}

.dadosGerais {
 display: grid;
 grid-template-columns: 1fr 1fr;
 flex-direction: column;
 gap: 20px;
 margin-bottom: 20px;
}
.dadosTrilhas {
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: flex-start;
}

form div {
 display: flex;
 flex-direction: column;
}

.containerButtons {
 display: flex;
 justify-content: center;
 margin-top: 40px;
 height: 30px;
 width: 100%;
}

.buttons {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 width: 592px;
}

.buttonVoltar {
 font-family: "Inter", sans-serif !important;
 color: #504908 !important;
 border-color: #504908 !important;
 margin-left: 10px !important;
 font-weight: bold !important;
}

.buttonCadastrar {
 font-family: "Inter", sans-serif !important;
 background-color: #504908 !important;
 color: white !important;
 font-weight: bold !important;
}

.buttons .buttonCadastrar:hover {
 cursor: pointer !important;
 background-color: transparent !important;
 color: #504908 !important;
 border: 1px solid #504908 !important;
}

.buttons .buttonVoltar:hover {
 cursor: pointer;
 background-color: #504908;
 color: white !important;
}
