*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100vw;
    height: 453px;
    background-color:  #504908;
    margin-bottom: 100px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo{
    font-size: 16px;
    color: white;
    margin-left: 100px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    height: 50px;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    font-size: 16px;
    height: 50px;
    margin-right: 100px;
}

.menu a{
    text-decoration: none;
    color: white;
}

.image{
    width: 100%;
    height: 90%;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}